#faq-page {
  margin: auto 4.5rem;
  padding: 2em;
  color: $main-dark-1;
  background-color: $main-1;
  > .head {
    text-align: center;
    > p {
      font-weight: 500;
      font-size: 1.2rem;
    }
    > h2 {
      font-size: 1.7rem;
      margin-top: 10px;
    }
  }
  > .card {
    margin-top: 2rem;
    display: flex;
    gap: 20px;

    > .container {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      padding: 2rem 2.2rem;
      position: relative;
      h3 {
        font-size: 1.28rem;
        line-height: 2rem;
      }
      p {
        line-height: 2rem;
        margin-top: 10px;
        font-size: 1.1rem;
        text-transform: capitalize;
      }

      &:hover {
        transition: all 0.5s ease-in-out;
       transform: translateY(-20px);
      }
    }
  }
}
