#icon-support-page {
  > .support-cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 4rem;

    > .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      word-wrap: break-word;
      gap: 20px;
      width: 90px;
      margin: auto;
      padding: 1.2rem 1.4rem;
      img {
        width: inherit;
      }
      .title {
        font-size: 1.25rem;
        font-weight: bold;
        color: $main-dark-2;
        text-align: center;
      }
    }
  }
}
