@media only screen and (max-width: 1025px) {
   #about-page{
      >.cards{
        padding: 4rem 3rem;
         img{
        height: 500px;
       }
      }
    }
    #stats-page{
        flex-direction: column;
        flex-flow: column-reverse;
        margin: auto;
        >.stats-content{
            width: 100%;
            margin-top: 2.2rem;
        }
        >.image-container{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    #company-info{
        >.content{
            flex-wrap: wrap;
            img{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #services-page{ 
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    #about-page{
        >.cards{
            flex-direction: column;
            >img{
                width: 100%;
                height: 400px;
            }
        }
    }
    #support-page{
        >.support-cards{
            >.card{
                width: 100%;
            }
        }
    }
    #icon-support-page{
        >.support-cards{
            flex-wrap: wrap;
            >.card{
            img{
                width: 60px;
            }
        }
        }
    }
    #faq-page{
        >.card{
            flex-wrap: wrap;
            row-gap: 2.2rem;
        }
    }
    #our-plans{
        flex-wrap: wrap;
        >.container{
            width: 100%;
        }
    }  
}
@media only screen and (max-width: 768px) {
     .navbar{
        .navigation{
            padding: 0 1rem;
            height: $navbar-height - 30px;
            >.logo{
                img{
                    width: 30px;
                }
                h2{
                    font-size: 1.25rem ;
                }
            }
            >.links{
                >ul{
                    font-size: 0.95rem;
                }
            }
        }
    }
    #support-page{
        >.support-cards{
            padding: 2rem;
        }
    }
    #footer-page{
        margin: 0;
        >.container{
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        >.copyright{
            justify-content: flex-start;
            padding: 0 4rem;
        }
    }
}

@media only screen and (max-width: 640px) {
    .navbar{
        .social{
            display: none;
        }
        .navigation{
            flex-direction: column;
            justify-content: center;
            row-gap: 5px;
            align-items: flex-start;
            >.logo{
                img{
                    width: 30px;
                }
                h2{
                    font-size: 1.25rem ;
                }
            }
            >.links{
                >ul{
                    font-size: 0.95rem;
                }
            }
        }
    }
    .landing-page{
        img{
            height: 450px;
        }
        >.page-content{
            h1{
                font-size: 1.6rem;
            }
        }
    }
    #services-page{
        padding: 1rem;
        >.cards{
            padding: 2rem 2rem;
        }
    }
    #about-page{
       >.cards{
        padding: 1.4rem;
       }
    }
     #support-page{
        >.support-cards{
           padding: 1rem;
        }
    }
    #stats-page{
        padding: 1rem;
    }
    #company-info{
        padding: 1rem   ;
    }
    #faq-page{
        padding: 1rem;
    }
    #our-plans{
       padding: 1rem;
    } 
    #footer-page{
        >.container{
            gap: 2rem;
        }
        >.copyright{
           display: block;
           line-height: 2rem;
           margin-left: 1rem;
        }
    }
}

@media only screen and (max-width: 516px) {
    .navbar{
        .navigation{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            >.links{
                display: none;
            }
            >i{
                display: block;
                font-size: 2rem;
            }
        }
    }
}
