
.navbar{
    .social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;
        height: $social-height;
        background-color: $main-10;
        color:$white-smoke;
        
        >.communication{
            display: flex;
            gap: 2rem;

            >div{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                >i{
                    display: flex;
                }
            }
        }
        >.social-links{
            >i{
                padding: 0 8px;
                & :last-child{
                    padding-right: 0;
                }
            }
        }
    }
}