#services-page{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    margin: 4.5rem auto;
    padding: 0 2rem;
    >.cards{
        min-width: 250px;
        padding: 2rem 3rem;
        background-color: $main-1;
        border-radius: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

        >img{
            width: 90px;
        }
        > .container >.title{
            color: $main-dark-1;
            margin-top: 15px;
        }
        > .container >.content{
            line-height: 2rem;
            font-size: 1.25rem;
            color: $main-dark-2;
        }
    }
}