$main-0: #f9fafa;
$main-1: #eef0f1;
$main-2: #d2d6db;
$main-3: #b5bdc4;
$main-4: #99a3ad;
$main-5: #7d8a97;
$main-6: #64707d;
$main-7: #4d5760;
$main-8: #363d44;
$main-9: #202428;
$main-10: #121416;

$white:#fff;
$orange-white:#f8f9f5;
$white-smoke:#f5f5f5;
